{% extends 'base/base.html' %} 

{% block page_title %}系統管理(Admin){% endblock %}


{% block page_content %}
<script type="text/x-template" id="field-sensor-table-template">
<table class="table table-bordered table-hover dataTable">
<thead>
  <tr>
    <th></th>
    <th>name</th>
    <th>df_name</th>
    <th>alias</th>
    <th>unit</th>
    <th>icon</th>
    <th>bg_color</th>
  </tr>
</thead>
<draggable :element="'tbody'" :list="sensors">
  <tr v-for="(sensor, index) in sensors">
      <td><input type="button" @click="field_sensor_remove(index)" value="x"></td>
      <td>{{ '{{' }}sensor.name{{ '}}' }}</td>
      <td><input type="text" v-model="sensor.df_name"></td>
      <td><input type="text" v-model="sensor.alias"></td>
      <td><input type="text" v-model="sensor.unit"></td>
      <td>
	<div class="input-group">
	  <input type="text" v-model="sensor.icon">
	  <span class="input-group-addon">
	    <i class="fa" :class="sensor.icon"></i>
	  </span>
	</div>
      </td>
      <td>
	<div class="input-group">
	  <input type="text" v-model="sensor.bg_color">
	  <span class="input-group-addon" :class="sensor.bg_color"><i class="fa"></i></span>
	</div>
      </td>
  </tr>
</draggable>
</table>
</script>
  <!-- TODO: combine MODAL -->
  <div class="nav-tabs-custom" id="app">
    <ul class="nav nav-tabs">
      <li class="active" id="tab_user">
        <a href="#user_management" data-toggle="tab" class="">帳號管理</a>
      </li>
      <li class="" id="tab_sensor">
        <a href="#sensor_management" data-toggle="tab" class="">傳感器</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- USER -->
      <div class="tab-pane active" id="user_management">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="box">
              <!-- box-header -->
              <div class="box-header with-border">
                <h3 class="box-title">使用者</h3>
                <div class="box-tools">
                  <button class="btn btn-success" @click="user_new">新增</button>
                </div>
              </div>
              <!-- /box-header -->


              <!-- body table -->
              <div class="box-body">
                <p><b class="">搜尋</b>：<input name="key" type="text" id="key" onkeydown="onSearch(this)" value=""  placeholder="請輸入關鍵字"/></p>
                <table class="table table-bordered table-hover dataTable" id="store">
                  <thead>
                    <tr>
                      <th>使用者帳號<i class="fa fa-sort"></i></th>
                      <th  class="">用戶組<i class="fa fa-sort"></i></th>
                      <th  class="">帳號狀態(1為正常 2為被刪除)<i class="fa fa-sort"></i></th>
                    </tr>
                  <thead>
                  <tbody>
                    <template v-for="(user, index) in users" >
                      <tr v-if="user.is_superuser == 1">
                        <td>
                          <a href="#" @click="user_modify(index)">{{ '{{' }}user.username{{ '}}' }}</a>
                        </td>
                        <td class="">最高管理員</td>
                        <td>{{ '{{' }}user.status{{ '}}' }}</td>
                      </tr>
                      <tr v-if="user.is_superuser == 2">
                        <td>
                          <a href="#" @click="user_modify(index)">{{ '{{' }}user.username{{ '}}' }}</a>
                        </td>
                        <td  class="">區域授權商</td>
                        <td>{{ '{{' }}user.status{{ '}}' }}</td>
                      </tr>
                      <tr v-if="user.is_superuser == 3">
                        <td>
                          <a href="#" @click="user_modify(index)">{{ '{{' }}user.username{{ '}}' }}</a>
                        </td>
                        <td  class="">地方代理商</td>
                        <td>{{ '{{' }}user.status{{ '}}' }}</td>
                      </tr>
                      <tr v-if="user.is_superuser == 4">
                        <td>
                          <a href="#" @click="user_modify(index)">{{ '{{' }}user.username{{ '}}' }}</a>
                        </td>
                        <td  class="">農場主</td>
                        <td>{{ '{{' }}user.status{{ '}}' }}</td>
                      </tr>
                      <tr v-if="user.is_superuser == 0">
                        <td>
                          <a href="#" @click="user_modify(index)">{{ '{{' }}user.username{{ '}}' }}</a>
                        </td>
                        <td  class="">記錄者</td>
                        <td>{{ '{{' }}user.status{{ '}}' }}</td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <!-- /body table -->
            </div>
            <!-- /box -->
          </div>
        </div>

        <!-- Modal -->
        <div id="user_modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#user_modal">&times;</button>
                <h4 class="modal-title">使用者管理</h4>
              </div>
              <!-- form -->
              <form class="form-horizontal">
                <div class="modal-body">
                  <!-- user.id -->
                  <input type="hidden" class="form-control" id="user-id" v-model="temp_user.id" disabled>
                  <!-- user.username -->
                  <div class="form-group">
                    <label for="user-username" class="col-sm-2 control-label">名稱</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="user-username" placeholder="用戶名" v-model="temp_user.username" required>
                    </div>
                  </div>
                  <!-- user.password -->
                  <div class="form-group" v-if="temp_user.id === ''">
                    <label for="user-password" class="col-sm-2 control-label">密碼</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="user-password" placeholder="密碼" v-model="temp_user.password" required>
                    </div>
                  </div>
                  <!-- user.trace_sys_flag -->
                  <div class="form-group">
                    <label for="user-trace-sys" class="col-sm-2 control-label">開啟溯源系統</label>
                    <div class="col-sm-10">
                      <input type="checkbox" class="form-check-input" id="user-trace-sys" v-model="temp_user.trace_sys_flag" required>
                    </div>
                  </div>
                  <!-- user.is_superuser -->
                  <div class="form-group">
                    <label for="user-is_superuser" class="col-sm-2 control-label">權限</label>
                    <div class="col-sm-10">
                      <div class="col-sm-12">
                        <select id="user-is_superuser" v-model="temp_user.is_superuser">
                          <option value=1 >Admin</option>
                          <option value=4 selected="selected">農場主</option>
                          <option value=0 selected="selected">紀錄者</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- user_access.fields -->
                  <div class="form-group">
                    <label for="user-access" class="col-sm-2 control-label">可視場域</label>
                    <div class="col-sm-10" id="user-access">
                      <template v-for="(field,index) in fields" v-if="index>3">
                        <div class="col-xs-12 col-sm-6">
                          <label :for="'user-access-'+field.name" style="font-weight: normal;">
                            <input type="checkbox" v-model="temp_user.access" :value="{'alias': field.alias, 'id': field.id, 'iframe': field.iframe, 'other_chk': field.other_chk, 'ipcam': field.ipcam, 'name': field.name, 'creator_id': field.creator_id}" :id="'user-access-'+field.name">  {{ '{{' }}field.name{{ '}}' }}
                          </label>
                        </div>
                      </template>
                      <template v-for="(field,index) in ipcam">
                        <div class="col-xs-12 col-sm-6">
                          <label :for="'user-access-'+field.name" style="font-weight: normal;">
                            <input type="checkbox" v-model="temp_user.access" :value="{'alias': field.alias, 'id': field.id, 'iframe': field.iframe, 'other_chk': field.other_chk, 'ipcam': field.ipcam, 'name': field.name, 'creator_id': field.creator_id}" :id="'user-access-'+field.name">  {{ '{{' }}field.name{{ '}}' }}
                          </label>
                        </div>
                      </template>
                      <template v-for="(field,index) in other_sensor">
                        <div class="col-xs-12 col-sm-6">
                          <label :for="'user-access-'+field.name" style="font-weight: normal;">
                            <input type="checkbox" v-model="temp_user.access" :value="{'alias': field.alias, 'id': field.id, 'iframe': field.iframe, 'other_chk': field.other_chk, 'ipcam': field.ipcam, 'name': field.name, 'creator_id': field.creator_id}" :id="'user-access-'+field.name">  {{ '{{' }}field.name{{ '}}' }}
                          </label>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>

                <!-- buttons -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" @click="user_hack" v-if="temp_user.id !== ''">登入</button>
                  <button type="button" class="btn btn-danger" @click="user_delete" v-if="temp_user.id !== ''">刪除</button>
                  <button type="button" class="btn btn-primary" @click="user_update" v-if="temp_user.id !== ''">更新</button>
                  <button type="button" class="btn btn-success" @click="user_create" v-if="temp_user.id === ''">新增</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#user_modal">關閉</button>
                </div>
              </form>
              <!-- /form -->
            </div>

          </div>
        </div>
        <!-- /Modal -->
      </div>
      <!-- /USER -->

      <!-- SENSOR -->
      <div class="tab-pane" id="sensor_management">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="box">
              <!-- box-header -->
              <div class="box-header with-border">
                <h3 class="box-title">傳感器</h3>
                <div class="box-tools">
                  <button class="btn btn-success" @click="sensor_new">新增</button>
                </div>
              </div>
              <!-- /box-header -->

              <!-- body table -->
              <div class="box-body" style="overflow-x: auto;">
                <table class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr>
                      <th> <i class="fa fa-sort"></i>name</th>
                      <th> <i class="fa fa-sort"></i>df_name</th>
                      <th> <i class="fa fa-sort"></i>alias</th>
                      <th> <i class="fa fa-sort"></i>unit</th>
                      <th> <i class="fa fa-sort"></i>icon</th>
                      <th> <i class="fa fa-sort"></i>color</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-for="(sensor, index) in sensors">
                      <tr>
                        <td>
                          <a href="#" @click="sensor_modify(index)">{{ '{{' }}sensor.name{{ '}}' }}</a>
                        </td>
                        <td>{{ '{{' }}sensor.df_name{{ '}}' }}</td>
                        <td>{{ '{{' }}sensor.alias{{ '}}' }}</td>
                        <td>{{ '{{' }}sensor.unit{{ '}}' }}</td>
                        <td>{{ '{{' }}sensor.icon{{ '}}' }}</td>
                        <td>{{ '{{' }}sensor.bg_color{{ '}}' }}</td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <!-- /body table -->
            </div>
            <!-- /box -->
          </div>
        </div>

        <!-- Modal -->
        <div id="sensor_modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#sensor_modal">&times;</button>
                <h4 class="modal-title">傳感器管理</h4>
              </div>
              <!-- form -->
              <form class="form-horizontal">
                <div class="modal-body">
                  <!-- sensor.id -->
                  <input type="hidden" class="form-control" id="sensor-id" v-model="temp_sensor.id" disabled>
                  <!-- sensor.name -->
                  <div class="form-group">
                    <label for="sensor-name" class="col-sm-2 control-label">名稱</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sensor-name" placeholder="傳感器名稱, ex: uv" v-model="temp_sensor.name" required>
                    </div>
                  </div>
                  <!-- sensor.df_name -->
                  <div class="form-group">
                    <label for="sensor-name" class="col-sm-2 control-label">df_name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sensor-df_name" placeholder="功能代號, ex: UV1" v-model="temp_sensor.df_name" required>
                    </div>
                  </div>
                  <!-- sensor.alias -->
                  <div class="form-group">
                    <label for="sensor-name" class="col-sm-2 control-label">alias</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sensor-alias" placeholder="別稱, 如: 紫外線" v-model="temp_sensor.alias" required>
                    </div>
                  </div>
                  <!-- sensor.unit -->
                  <div class="form-group">
                    <label for="sensor-unit" class="col-sm-2 control-label">unit</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="sensor-unit" placeholder="單位, 如: mw/cm²" v-model="temp_sensor.unit">
                    </div>
                  </div>
                  <!-- sensor.icon -->
                  <div class="form-group">
                    <label for="sensor-icon" class="col-sm-2 control-label">icon</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input type="text" class="form-control" id="sensor-icon" placeholder="圖示, 如: ion-android-sunny" v-model="temp_sensor.icon">
                        <span class="input-group-addon"><i class="fa" :class="temp_sensor.icon"></i></span>
                      </div>
                      <span class="">可以參考</span> <a href="https://adminlte.io/themes/AdminLTE/pages/UI/icons.html" target="_blank" class="">這裡.</a>
                    </div>                    
                  </div>
                  <!-- sensor.bg_color -->
                  <div class="form-group">
                    <label for="sensor-bg_color" class="col-sm-2 control-label">color</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input type="text" class="form-control" id="sensor-bg_color" placeholder="背景顏色, ex: bg-aqua" v-model="temp_sensor.bg_color">
                        <span class="input-group-addon" :class="temp_sensor.bg_color"><i class="fa"></i></span>
                      </div>
                      <span class="">可以參考</span><a href="http://basscss.com/v7/docs/background-colors/" target="_blank" class="">這裡.</a>
                    </div>
                  </div>
                </div>

                <!-- buttons -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" @click="sensor_delete" v-if="temp_sensor.id !== ''">刪除</button>
                  <button type="button" class="btn btn-info" @click="sensor_update" v-if="temp_sensor.id !== ''">更新</button>
                  <button type="button" class="btn btn-success" @click="sensor_create" v-if="temp_sensor.id === ''">新增</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#sensor_modal">關閉</button>
                </div>
              </form>
              <!-- /form -->
            </div>

          </div>
        </div>
        <!-- /Modal -->
      </div>
      <!-- /SENSOR -->
    </div>
{% endblock %}


{% block page_script %}
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
<script>
  var app = null;

  $(() => {
    var fieldSensorTable = {
      template: '#field-sensor-table-template',
      props: {
        value: Array,
        remove: Function
      },
      name: 'field-sensor-table',
      computed: {
        sensors: {
          get() {
            return this.value
          },
          set(value) {
            this.$emit('input', value)
          }
        }
      },
      methods: {
        field_sensor_remove(index) {
          this.remove(index);
        }
      }
    };

    // set Vue data
    app = new Vue({
      components:{fieldSensorTable: fieldSensorTable},
      el: '#app',
      data: () => {
        
        return {
          users: [],
          sensors: [],
          fields: [],
          ipcam: [],
		      procs: [{"province_list":[{"province_id":0,"province_name":"","province_ne_name":"","province_abbr":"","province_group_no":0,"province_postal_code":0}]}],
          other_sensor:[],
          temp_user: {
            id: '',
            username: '',
            password: '',
            is_superuser: 4,
            access: [],
            active: null,
            trace_sys_flag:0
          },
          temp_sensor: {
            id: '',
            name: '',
            df_name: '',
            alias: '',
            unit: '',
            icon: '',
            bg_color: '',
          }
        }
      },
      mounted () {
        // init data
        this.user_reload();
        this.sensor_reload();
      },
      methods: {
        // -- USER --
        user_reload() {
          axios.get('/api/user')
               .then(response => (this.users = response.data))
               .catch((error) => {alert(error);});
        },
        user_new() {
          this.temp_user = {
            id: '',
            username: '',
            password: '',
            is_superuser: 4,
            access: [],
            active: null,
            trace_sys_flag: 1,
          }
          $('#user_modal').modal('toggle');
        },
        user_create() {
          // TODO: validate data.
          user_create = axios.post('/api/user', this.temp_user)
               .then((data, status, request) => {
                      this.user_reload();
                      $('#user_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
        },
        user_modify(index) {
          // clone modify data, not alias
          this.temp_user = JSON.parse(JSON.stringify(this.users[index]));
          $('#user_modal').modal('toggle');
        },
        user_update() {
          // TODO: validate data.
          axios.put('/api/user', this.temp_user)
               .then((data, status, request) => {
                      this.user_reload();
                      $('#user_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
        },
        user_delete() {
          let r = confirm("將一併刪除帳號相關資料，確定要刪除?")
          if (r){
            axios.delete('/api/user?id=' + this.temp_user.id)
               .then((data, status, request) => {
                      this.user_reload();
                      $('#user_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
          }     
          location.reload();  
        },

        // -- SENSOR --
        sensor_reload() {
          axios.get('/api/sensor')
               .then(response => (this.sensors = response.data))
               .catch((error) => {alert(error);});
        },
        sensor_new() {
          this.temp_sensor = {
            id: '',
            name: '',
            df_name: '',
            alias: '',
            unit: '',
            icon: '',
            bg_color: '',
          }
          $('#sensor_modal').modal('toggle');
        },
        sensor_create() {
          // TODO: validate data.
          axios.post('/api/sensor', this.temp_sensor)
               .then((data, status, request) => {
                      this.sensor_reload();
                      $('#sensor_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
        },
        sensor_modify(index) {
          // clone modify data, not alias
          this.temp_sensor = JSON.parse(JSON.stringify(this.sensors[index]));
          $('#sensor_modal').modal('toggle');
        },
        sensor_update() {
          // TODO: validate data.
          axios.put('/api/sensor', this.temp_sensor)
               .then((data, status, request) => {
                      this.sensor_reload();
                      $('#sensor_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
        },
        sensor_delete() {
          axios.delete('/api/sensor?id=' + this.temp_sensor.id)
               .then((data, status, request) => {
                      this.sensor_reload();
                      $('#sensor_modal').modal('toggle');
               })
               .catch((error) => {alert(error);});
        },
        user_hack() {
          axios.get('/api/hack/camouflage?target='+ this.temp_user.username)
               .then((data) => {
                 window.location.href = '/';
               })
               .catch((error) => { console.log(error) })
        }
      }
    });

  });
</script>
<script type="text/javascript">  
    function onSearch(obj){  
        setTimeout(function(){ 
            var storeId = document.getElementById('store');
            var rowsLength = storeId.rows.length;
            var key = obj.value;  
      
            var searchCol = 0;
      
            for(var i=1;i<rowsLength;i++){
                var searchText = storeId.rows[i].cells[searchCol].textContent;
				        var searchText2 = storeId.rows[i].cells[1].textContent;
                if(searchText.match(key) || searchText2.match(key)){  
                    storeId.rows[i].style.display='';
                }else{  
                    storeId.rows[i].style.display='none';
                }  
            }  
        },200);
    }
    
  $(document).on('click','th',function(){
    var table = $(this).parents('table').eq(0);
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
    this.asc = !this.asc;
    if (!this.asc){rows = rows.reverse();}
    table.children('tbody').empty().html(rows);
  });
  function comparer(index) {
      return function(a, b) {
          var valA = getCellValue(a, index), valB = getCellValue(b, index);
          return $.isNumeric(valA) && $.isNumeric(valB) ?
              valA - valB : valA.localeCompare(valB);
      };
  }
  function getCellValue(row, index){
      return $(row).children('td').eq(index).text();
  }
  
  $(".required_s").prepend("<span style='color:red;'>*</span>");

function search_select(obj,id){
  var target = obj.value;
  size_counter = 1;
  if(target != ""){
    $("#"+id+" option").prop("selected", false);
    $("#"+id+" option").each(function(){
      let item = this.text;
      if(item.match(target)){
        size_counter +=1;
        $(this).show();
      }else{
        $(this).hide();
      }
    })
  }else{
    $("#"+id+" option").each(function(){
      $(this).show();
      $("#"+id).attr("size", 1);
      $(".select_tip_"+id).remove();
    })
  }
  if(size_counter>1){
    $(".select_tip_"+id).remove();
    $("#"+id).after("<span class='select_tip_"+id+"'"+" style='color:red;'>請選擇</span>");
  }
  $("#"+id).attr("size", size_counter);

  $("#"+id).change(function(){
    $("#"+id).attr("size", 1);
    $(".select_tip_"+id).remove();
    obj.value="";
    $("#"+id+" option").each(function(){
      $(this).show();
    })
  })
}
</script>
{% endblock %}
